/* #region VARIABLES */

:root {
    --bz-app-principal: #ababab;
    --bz-app-header: #009688;
    --bz-app-success: #D5F9BA;
    --bz-app-light: #E9EBEB;
    --bz-app-white: #FFFFFF;
    --bz-app-focus: #8EDAFC;
    --bz-app-chat-received: #d5f9ba;
}

/* #endregion VARIABLES */

/* #region GLOBAL RULES */

body {
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 15%, rgba(219, 219, 210, 1) 15%);
}

.vz-mainContainer {
    /* max-height: 90vh; */
    padding: 0;
}

.vz-profileContainer {
    font-size: 0.8rem;
}

.vz-bgAppLight {
    background-color: var(--bz-app-light);
}

.vz-bgAppWhite {
    background-color: var(--bz-app-white);
}

.vz-appFocus {
    background-color: var(--bz-app-focus);
}

/* #endregion GLOBAL RULES */

/* SIDEBAR */

/* #region USER NAVBAR */

.nav-item a {
    color: var(--bz-app-principal) !important;
}

.vz-avatarPic {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/* #endregion USER NAVBAR */

/* #region DESKTOP NOTIFICATION ALERT */

.vz-bell {
    color: var(--bz-app-focus);
    background-color: var(--bz-app-white);
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.vz-notMess {
    font-size: 0.8rem;
}

.vz-actDeskNot {
    color: grey;
    font-size: 0.7rem;
}

/* #endregion DESKTOP NOTIFICAYION ALERT */

/* #region SEARCHBAR */

.vz-sidebar {
    /* border: 1px solid orange; */
}

.vz-btnSearch {
    border: 1px solid lightgray;
    color: var(--bz-app-principal) !important;
    cursor: pointer;
}

.vz-btnSearchBar {
    border: 1px solid lightgray !important;
    font-size: 0.8rem;
}

/* #endregion SEARCHBAR */

/* #region CONTACTS PANEL */

.vz-contactsListCont {
    min-height: calc(90vh - 175px);
    overflow-y: scroll;
    background-color: var(--bz-app-white);
}

.vz-contactTab {
    cursor: pointer;
}

.vz-contactName {
    font-size: 1rem;
    line-height: 1rem;
}

.vz-timeonline,
.vz-lastMessage {
    font-size: 0.7rem;
    color: var(--bz-app-principal);
}

.vz-contactActive {
    background-color: var(--bz-app-light);
}

/* #endregion CONTACTS PANEL */

/* #region ACTIVE CONTACT NAVBAR */

.vz-ActContactNavbar {
    border-left: 1px solid lightgray;
}

.vz-lastOnline {
    font-size: 0.7rem;
}

/* #endregion ACTIVE CONTACT NAVBAR */

/* #region CHAT */
.vz-chatContainer {
    background-image: url("../../img/mine.jpg");
}

.vz-chat {
    min-height: calc(90vh - 126px);
    overflow-y: scroll;
}

.vz-messages {}

.vz-sentMessage {
    background-color: var(--bz-app-chat-received);
    align-self: flex-end !important;

}

.vz-receivedMessage {
    background-color: var(--bz-app-white);
    align-self: flex-start !important;
}

.vz-chatDate {
    font-size: 0.6rem;
    color: var(--bz-app-principal);

}

/* #enderegion CHAT */

/* #region SEND MESSAGE BAR */

input.vz-messageInput {
    border: none;
    border-radius: 5px;
    padding: 0.5rem
}

/* #endregion SEND MESSAGE BAR */